<app-header [customProcess]="false" [labelBtn]="getLabelBtn()"[popUp]="false" ></app-header>
<main>
  <img *ngIf="menuBurger?.plan" [src]="menuBurger.plan" [alt]="menuBurger.title" />
  <app-carrousel *ngIf="menuBurger?.diaporama" [id]="menuBurger.diaporama.id" [text]="menuBurger.diaporama.soustitre"></app-carrousel>
  <app-lecteur-video *ngIf="menuBurger?.video" [src]="menuBurger.video"></app-lecteur-video>
  <div class="audio">
    <app-lecteur-audio *ngIf="menuBurger?.audio" [file]="menuBurger.audio"></app-lecteur-audio>
  </div>
  <p *ngIf="menuBurger?.description" [innerHTML]="menuBurger.description | sanitizeHtml"></p>
</main>
