<app-header-explore [imagePlan]="getPlan()"></app-header-explore>

<main>
  <h1 class="underline" i18n="@@ExploreComp-title">{{ title }}</h1>

  <p *ngIf="isFirstArrive && !getVideo()" i18n="@@ExploreComp-recherche-intro">Je visite le musée en toute autonomie et me laisse surprendre par des oeuvres !</p>
  <div *ngIf="getVideo()">
    <app-lecteur-video-oeuvre [file]="getVideo()" [name]="title"></app-lecteur-video-oeuvre>
  </div>

  <p id="idTitre1" class="h4-like" i18n="@@ExploreComp-recherche-lbl">Recherchez par mots-clés ou numéro de l’oeuvre :</p>

  <div class="ds44-loader-text visually-hidden" tabindex="-1" aria-live="polite">
  </div>
  <div class="ds44-loader hidden">
    <div class="ds44-loader-body">
      <svg class="ds44-loader-circular" focusable="false" aria-hidden="true">
        <circle class="ds44-loader-path" cx="30" cy="30" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
      </svg>
    </div>
  </div>
  <div class="ds44-facette">
    <div class="ds44-facette-body">
      <form data-is-ajax="true" data-auto-load="true" (ngSubmit)="research()">
      <div class="ds44-facetteContainer ds44-flex-container ds44-medium-flex-col">
        <div class="ds44-fieldContainer ds44-fg1">
          <div class="ds44-form__container">
            <div class="ds44-posRel">
              <label for="form-element-48085" class="ds44-formLabel">
                <span class="ds44-labelTypePlaceholder ds44-labelTypePlaceholder">
                  <span i18n="@@ExploreComp-recherche-placeHolder">Numéro de l'oeuvre, mots clefs...</span>
                </span>
              </label>
              <input  type="text"
                      id="form-element-48085"
                      name="form-element-48085"
                      class="ds44-inpStd"
                      i18n-title="@@ExploreComp-input-title"
                      title="Numéro de l'oeuvre, mots clefs..."
                      [(ngModel)]="text"
                      required/>
              <button class="ds44-reset" type="button">
                <i class="icon icon-cross icon--sizeXL" aria-hidden="true"></i>
                <span class="visually-hidden" i18n="@@ExploreComp-input-clear">Effacer le contenu saisi dans le champ : Votre recherche</span>
              </button>
            </div>
          </div>
        </div>
        <div class="ds44-fieldContainer ds44-small-fg1">
            <button class="ds44-btnStd ds44-theme" title="Lancer la recherche" [disabled]="researchRun" type="submit">
              <span class="ds44-btnInnerText" i18n="@@ExploreComp-recherche-btn">Rechercher</span>
              <i class="icon icon-long-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
      </div>
      </form>
    </div>
  </div>

  <div class="col-4 colPush encart" *ngIf="isFirstArrive">
    <section class="ds44-box ds44-theme ds44-bgTriangle-left">
      <div class="ds44-flex-container ds44-box--push">
        <picture class="ds44-boxPushPic">
          <source srcset="../../../../assets/encart-expositions_passee.png" media="(max-width: 479px)">
          <img src="../../../../assets/encart-expositions_passee.png" alt="" />
          <span style="display: none;">25</span>
        </picture>
        <div class="ds44-boxPushContent">
          <p role="heading" aria-level="2" class="ds44-pushTitle" i18n="@@ExploreComp-encart-title">Soyez curieux !</p>
          <p i18n="@@ExploreComp-encart-contenu">Repérez les numéros sur les oeuvres et tapez les dans la barre de recherche pour bénéficier d’un contenu enrichie sur cette oeuvre !</p>
        </div>
      </div>
    </section>
  </div>
  <div class="listHelp" *ngIf="isFirstArrive">
    <app-list [items]="getListHelp()" [noSeparator]="true"></app-list>
  </div>

  <section class="search-result">
    <app-loader *ngIf="researchRun" color="#0013b1"></app-loader>
    <section *ngIf="!researchRun">
      <h3 class="search-result-info">
        {{ lblNbResult() }}
      </h3>
      <app-tuile-h-explore *ngFor="let item of result" [searchItems]="item.searchItem"></app-tuile-h-explore>
      <div class="ds44-posBot">
      <button *ngIf="pager && pager.hasMore()"
              [disabled]="researchRun"
              (click)="moreResult()"
              class="ds44-fullWBtn ds44-btn--invert"
              type="button"
              i18n-title="@@ExploreComp-recherche-more-title"
              title="Afficher plus de résultat">
        <span class="ds44-btnInnerText" i18n="@@ExploreComp-recherche-more">Plus de résultat</span><i class="icon icon-down" aria-hidden="true"></i>
      </button>
      </div>
    </section>
  </section>
</main>
