<header role="banner" id="topPage">
  <div class="ds44-blocBandeau ds44-header ds44-header--patrimoine" style="position: relative;">
    <div class="ds44-container-large">
      <ul class="ds44-list ds44-skiplinks">
        <li><a routerLink="/" class="ds44-skiplinks--link">Aller au contenu</a></li>
        <li><a [routerLink]="this.urlFavoris" class="ds44-skiplinks--link">Aller au menu</a></li>
        <li><a href="/explore" class="ds44-skiplinks--link">Aller à la recherche</a></li>
        <li><a href="/" class="ds44-skiplinks--link">Aller à la page d'accessibilité</a></li>
      </ul>
      <div class="ds44-flex-container ds44-flex-valign-center">

        <div class="ds44-colLeft">
          <app-back [customProcess]="customProcess" (returnCustom)="returnCustom($event)" [text]="getLabelBtn()" [titleLink]="getHoverBtn()"></app-back>
        </div>

        <div class="ds44-colRight">
          <app-menu></app-menu>
        </div>

      </div>
    </div>
  </div>
</header>
