<ul [class]="hasInformation()" class="ds44-collapser">

  <li class='ds44-collapser_element first-elem'>
    <p role="heading" aria-level="3">
      <button type="button" class="ds44-collapser_button" i18n="@@ParcoursOeuvreComp-how-to-go" tabindex="1">
        Comment m’y rendre
        <i class="icon icon-down icon--sizeXL" aria-hidden="true"></i>
      </button>
    </p>
    <div class="ds44-collapser_content">
      <section [class]="isAudio()">
        <h4 class="ds44-center" i18n="@@CollapserOeuvreComp-indic-audio">Réécouter l'indication audio</h4>
        <div class="audio-help">
          <app-lecteur-audio *ngIf="hasLoaded" [file]='audio' [name]='titleAudio'>
          </app-lecteur-audio>
        </div>
      </section>

      <section [class]="isImagePlan()">
        <h4 class="ds44-center" i18n="@@CollapserOeuvreComp-map">Me repérer sur le plan</h4>
        <div class="img-collapser">
          <picture class="ds44-container-imgRatio">
            <img [src]="imagePlan" alt="" />
          </picture>
        </div>
      </section>

      <section [class]="isIndications()">
        <h4 class="ds44-center" i18n="@@CollapserOeuvreComp-suivre-parcours">Suivre le parcours</h4>
        <div class="img-collapser">
          <picture class="ds44-container-imgRatio">
            <img [src]="indications" alt="" />
          </picture>
        </div>
      </section>

    </div>
  </li>
</ul>
