<app-header [customProcess]="true" [returnUrl]="getURLBack()" [labelBtn]="getLabelBtn()"></app-header>
<main>

  <div *ngIf="!videoLSF">
    <app-image-text [img]="getCurrentCat()?.image" [text]="getCurrentCat()?.title"></app-image-text>
  </div>
  <div *ngIf="videoLSF" class="top-page-lsf">
    <h1 class="title big-title">{{ getCurrentCat()?.title }}</h1>
    <app-lecteur-video [file]="videoLSF" [transcription]="transcription"></app-lecteur-video>
  </div>

  <div id="form-element-49879" data-name="radio2" class="ds44-form__radio_container ds44-form__container"  data-required="true" *ngIf="!isLSF">
    <i class="icon icon-handicap-moteur"></i>
    <p id="mandatory-message-form-element-49879" class="ds44-mandatory_message" i18n="@@ThemeExpo-PMR-lbl" >
      Vous êtes une personne à mobilité réduite ?</p>
      <!-- TODO toggle -->
    <div class="ds44-form__container ds44-checkBox-radio_list inbl">
      <input (click)="doSearch('oui')" type="radio" name="radio2" value="oui" id="name-radio-form-element-49879-m" class="ds44-radio"   required  aria-describedby="mandatory-message-form-element-49879" /><label id="label-radio-form-element-49879-m" for="name-radio-form-element-49879-m" class="ds44-radioLabel" style="padding-left: 2rem;">Oui</label>
    </div>
    <div class="ds44-form__container ds44-checkBox-radio_list inbl">
    <input checked (click)="doSearch('non')" type="radio" name="radio2" value="non" id="name-radio-form-element-49879-f" class="ds44-radio"   required  aria-describedby="mandatory-message-form-element-49879" /><label id="label-radio-form-element-49879-f" for="name-radio-form-element-49879-f" class="ds44-radioLabel" style="padding-left: 2rem;">Non</label>
    </div>
  </div>

  <app-list-bg [items]="getListParcours()" [noSeparator]="true"></app-list-bg>
</main>
