@import '/src/theme/importDep.scss';

.top-page-lsf {
  margin: 1rem 2rem;
  .title {
    margin: 2rem;
  }
}

#form-element-49879 {
  display: flex;
  margin: 1.2em 1.4em 0;

  #mandatory-message-form-element-49879 {
    font: normal normal normal 16px/22px Muli;
    padding: 0 0.6em;
  }
}
