<app-header-parcours [imagePlan]="getMap()" [labelBtn]="getLabelBtn()"></app-header-parcours>

<div class="fin-parcours small-border-space">
  <div class="bg-title"></div>

  <div class="fav">
    <div class="spacer"></div>
    <h2 class="page-title" i18n="@@ParcoursFinComp-thanks-msg">Merci pour votre visite, nous espérons que vous avez passé un agréable moment au musée Dobrée
      !</h2>
    <div class="spacer"></div>

    <app-tuile-v *ngIf="!video;else lsf" [tuile]="getTuile()"></app-tuile-v>

    <ng-template #lsf>
      <app-lecteur-video [file]="video" [transcription]="transcription"></app-lecteur-video>

<!--      <p class=" fav-box"><i class="icon icon-star-empty" aria-hidden="true"></i>
        <a [href]="" class="ds44-card__globalLink">
          <span class="ds44-iconInnerText" i18n="@@ParcoursFinComp-add-list-fav">Ajouter la liste des oeuvres à mes favoris</span>
        </a>
      </p>-->
    </ng-template>
  </div>
</div>

<app-page-utile *ngIf="!video"></app-page-utile>

<app-partage-rs></app-partage-rs>

<div class="bg-block ds44-box ds44-theme ds44-bgTriangle-left">
  <h2 i18n="@@ParcoursFinComp-new-visit">Nouvelle visite ?</h2>
  <p i18n="@@ParcoursFinComp-new-visit-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis semper risus sed laoreet. </p>
  <a class="ds44-btnStd" [routerLink]="getHome()">
    <span class="ds44-btnInnerText" i18n="@@ParcoursFinComp-new-visit-btn"> Que souhaitez-vous visiter ?</span>
  </a>
  <img class="img-appli" src="https://design.loire-atlantique.fr/assets/images/push/mobile/encart-appli-mag.png" alt="">
</div>
