@import '/src/theme/importDep.scss';

.swiper-container {
  overflow: clip;
  ul {
    margin-bottom: 0;
  }
}

picture.ds44-container-imgRatio {
  padding-top: 0;
  height: 100%;

  .ds44-imgRatio {
    position: inherit;
  }
}

.carrousel-text {
  padding: 1rem 3rem 3rem 3rem;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 100;

  p {
    font-weight: lighter;
  }
}

.ds44-alphaGradient {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}
