@import '/src/theme/importDep.scss';

.swiper-container {
  overflow: clip;
  padding-top: 0;

  ul {
    margin-bottom: 0;
  }
}

picture.ds44-container-imgRatio {
  padding-top: 0;
  height: 100%;

  .ds44-imgRatio {
    position: inherit;
  }
}

.carrousel-text {
  padding-top: 10px;

  .h3 {
    padding-bottom: 0.5em;
    margin-bottom: 0;
  }

  span {
    font: normal normal normal 14px/21px Muli;
  }
}

.ds44-alphaGradient {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.swipper-carousel-wrap .swiper-thumbs-container .swiper-container {
  .swiper-wrapper {
    width: auto;
    max-width: 100%;
    flex-wrap: wrap;

    .swiper-slide {
      margin-bottom: 15px;
      margin-left: 7px !important;
      margin-right: 7px !important;

      &-thumb-active .ds44-diaporama-thumb {
        border-color: $main-color;
      }

      .ds44-diaporama-thumb {
          width: 4.8rem;
          height: 4.8rem;
      }
    }
  }
}
