<app-header-parcours></app-header-parcours>

<main>
  <h1 class="underline"> {{ getTitle() }}</h1>

  <div class="ds44-container-large">
    <div class="ds44-flex-container ds44-flex-valign-center">
      <div class="ds44-colLeft">
        <h3> {{ getDuree() }}</h3>
      </div>

      <div class="ds44-colRight">
        <p><a> En savoir plus</a></p>
      </div>
    </div>
  </div>

  <app-etapes [etapes]="getEtapes()"></app-etapes>

  <app-tuile-h [items]="getSeenItems()"></app-tuile-h>


</main>
