<app-header [customProcess]="true" [returnUrl]="getThemeURL()" [labelBtn]="getLabelBtn()" [imagePlan]="getPlan()" [popUp]="true" ></app-header>
<main class="border-space">
  <h1 class="underline top-space"> {{ getTitle() }}</h1>

  <div class="ds44-container-large">

    <div *ngIf="!getVideo() && getDescription() ">
      <p id="desc" [innerHTML]="getDescription()" [class]="getCSS()"></p>
      <span tabindex="0" (click)="showDesc()" class="ds44-btnInnerText plus bottom-space"> {{ defaultText }} </span>
    </div>


    <div class="ds44-flex-container ds44-flex-valign-center">
      <div class="ds44-colLeft">
        <h3> {{ getDuree() }}</h3>
      </div>
      <div class="ds44-colRight">
        <p>{{step}} {{ getNumberSeenItem() }} / {{ getNumberItem() }}</p>
      </div>
    </div>

    <div *ngIf="getVideo()" class="top-space">
      <app-lecteur-video [src]="getVideo()" [transcription]="this.leParcours?.transcription"></app-lecteur-video>
    </div>
  </div>

<!--  <app-etapes [etapes]="getEtapes()"></app-etapes> -->

  <app-tuile-h-etape [etapes]="getEtapes()"></app-tuile-h-etape>


</main>
