<app-header-parcours [customProcess]="true" [returnUrl]="getThemeURL()" [imagePlan]="getPlan()" [popUp]="true" [labelBtn]="getLabelBtn()"></app-header-parcours>

<main class="border-space">
  <h1 class="underline top-space"> {{ getTitle() }}</h1>

  <div class="ds44-container-large">

    <div *ngIf="!getVideo()">
      <p id="desc" [innerHTML]="getDescription()" [class]="getCSS()"></p>
      <span (click)="showDesc()" class="ds44-btnInnerText plus bottom-space"> {{ defaultText }} </span>
    </div>


    <div class="ds44-flex-container ds44-flex-valign-center">
      <div class="ds44-colLeft">
        <h3> {{ getDuree() }}</h3>
      </div>
      <div class="ds44-colRight">
        <p>{{step}} {{ getNumberSeenItem() }} / {{ getNumberItem() }}</p>
      </div>
    </div>

    <div *ngIf="getVideo()" class="top-space">
      <app-lecteur-video [file]="getVideo()" [transcription]="this.leParcours?.transcription"></app-lecteur-video>
    </div>
  </div>

  <app-etapes [etapes]="getEtapes()"></app-etapes>

  <app-tuile-h-etape [etapes]="getEtapes()"></app-tuile-h-etape>


</main>
