@import '/src/theme/importDep.scss';

main {
  padding: 0 20px;
}

H1 {
  text-align: left;
  padding: 10px 0;
  margin-top: 15px;
}

.plus {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.ds44-posBot {
  padding: 15px 0;
}

.ds44-container-large {
  margin: 0;
}

