<header role="banner" id="topPage">
  <div class="ds44-blocBandeau ds44-header ds44-header--patrimoine" style="position: relative;">
    <div class="ds44-container-large">
      <div class="ds44-flex-container ds44-flex-valign-center">

        <div class="ds44-colLeft">
          <app-back [customProcess]="customProcess" (returnCustom)="returnCustom($event)" [text]="getLabelBouton()" [titleLink]="getLabelBouton()"></app-back>
        </div>

        <div class="ds44-colRight">
          <div *ngIf="imagePlan">
            <app-overlay-map [image]="imagePlan"></app-overlay-map>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>
