<button type="button" [class]="getClassButton()" [attr.data-target]="'#' + idTarget" data-js="ds44-modal">
  <span class="ds44-btnInnerText"> {{ title }} </span>
  <i *ngIf="icon" [class]="getClassIcon()" aria-hidden="true"></i>
</button>

<section class="ds44-modal-container" [id]="idTarget" aria-hidden="true" role="dialog" aria-modal="true">
  <div class="ds44-modal-box">
    <div class="headerMap">
      <h3 id="overlay-map-title" class="title-overlay"> {{ title }} </h3>
      <button class="ds44-btnOverlay--modale ds44-btnOverlay--closeOverlay" type="button"
        [title]="closeTxt" data-js="ds44-modal-action-close">
        <i class="icon icon-cross" aria-hidden="true"></i>
        <span class="ds44-btnInnerText--bottom" i18n="@@global-close">Fermer</span>
      </button>
    </div>
    <div class="ds44-modal-gab">
      <picture class="ds44-container-imgRatio" id="myPicture">
        <img *ngIf="image" [src]="image" alt="" class="ds44-imgRatio" id="imagePlan" #imagePlan />
      </picture>
    </div>

    <div class="zoom">
      <button class="ds44-btnIco ds44-btnIco--carre ds44-bgDark" (click)="zoom(-100)"><i class="icon icon-plus" aria-hidden="true"></i><span class="visually-hidden">Plus</span></button>
      <button class="ds44-btnIco ds44-btnIco--carre ds44-bgDark" (click)="zoom()"><i class="icon icon-minus" aria-hidden="true"></i><span class="visually-hidden">Moins</span></button>
    </div>
</div>
</section>
