@import '/src/theme/importDep.scss';

.ds44-modal-box {
  height: 90vh;
}

img {
  max-width: none;
  height: auto;
}

.headerMap {
  width: 90%;
  position: fixed;
  top: 3em;
  left: 1em;
  z-index: 1;
}

.zoom {
  position: fixed;
  bottom: 3em;
  right: 1em;

  button {
    display: block;
    margin-bottom: 0.2em;
  }
}
