$light-black: #46474e;
$black: #000;
$white: #fff;

$saumon: #ff9a9a;

$bg-error: #fef4f5;
$error: #dc3545;

$warning: #ffd883;
$success: #24883e;
$bg-success: #f3f9f5;

$box-radius: 25px;



$pink: #FFBED2;
$pink2: #FC7FBB;
$turquoise: #99E6D1;

//$grey: #e5e5e5;
$grey: #cccccc;
$light-grey: #E6E6E6;
$dark-gray: #5c5c5c;


$main-color: $pink;
