@import '/src/theme/importDep.scss';

section {
  padding-top: 20px;
  background-color: transparent;
}
.ds44-flex-container {
  font-weight: bold;
  margin:10px 20px;
  background-color: $light-grey;
}
