<header role="banner" id="topPage">
  <div class="ds44-blocBandeau ds44-header ds44-header--patrimoine" style="position: relative;">
    <div class="ds44-container-large">
      <div class="ds44-flex-container ds44-flex-valign-center">

        <div class="ds44-colLeft">
          <app-back></app-back>
        </div>

        <div class="ds44-colRight">
          <app-overlay-tuto [isIcon]="true"></app-overlay-tuto>

          <button type="button" class="ds44-btn--menu ds44-btnIcoText--maxi ds44--xl-padding" id="open-map"
            aria-label="Ouvrir la carte"><span class="ds44-btnInnerText">Carte</span><i
              class="icon icon-map icon--large" aria-hidden="true"></i></button>
        </div>

      </div>
    </div>
  </div>

</header>
