@import '/src/theme/importDep.scss';

.bg-color {
  background-color: $main-color;
  position: sticky;
  bottom: 0;
  z-index: 200;
  padding-top: 20px;
  .ds44-fullWBtn {
    margin-bottom: 20px;
  }
  &:has(.ds44-fullWBtn) {
    padding-top: 0;
  }
}

.desc-oeuvre {
  padding: 10px;
}

.plus {
  text-align: center;
  display: block;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.max-lines {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.default-lines {
  display: inline-block; /* or inline-block */
  word-wrap: break-word;
}

.ds44-lightBG {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

  span {
    font: normal normal normal 14px/21px Muli;
  }
}
