<app-header-parcours [customProcess]="true" [returnUrl]="getHomeParcours()"></app-header-parcours>

<main>

  <div class="detail-oeuvre">
    <app-carrousel *ngIf="hasLoaded" [id]="getCarouselId()" [etape]="getTextEtape()" [text]="getTitle()">
    </app-carrousel>

    <div class="block-indications">
      <h3 id="indications"> Comment me rendre à l'étape <br>" {{ getTitle() }} "</h3>

      <div *ngIf="getAudioAide()">
        <p> Réécouter l'indication audio</p>
        <div class="audio-help">
          <app-lecteur-audio *ngIf="hasLoaded && getAudioAide()" [file]="getAudioAide()" [name]="">
          </app-lecteur-audio>
        </div>
      </div>
      <app-overlay-map *ngIf="getMap()" idTarget="overlay-map-btn" [image]="getMap()" [isIcon]="false" [title]="'Me repérer sur le plan'"></app-overlay-map>

      <div *ngIf="indications" class="indication">
        <div *ngFor="let indication of indications">

          <div *ngIf="indication.icon">
            <div *ngIf="checkURL(indication.icon);else icon">
              <img class="img-icon" [src]="indication.icon">
              <span>{{indication.title}}</span>
            </div>
            <ng-template #icon>
              <i [class]="'icon ' + indication.icon"></i>
              <span>{{indication.title}}</span>
            </ng-template>
          </div>
          <!-- <i [class]="'icon ' + indication.icon"></i>
          <span>{{indication.title}}</span>  -->
        </div>
      </div>
    </div>
  </div>

  <div class="bg-color">
    <div class="ds44-flex-container ds44-flex-valign-center btn-step">

      <div class="ds44-colRight">
        <div *ngIf="finParcours;else next">
          <a [href]="this.nextEtapeUrl" class="back-parcours">
            <button class="ds44-btnStd number"><span> Fin Parcours </span></button>
          </a>
        </div>

        <ng-template #next>
          <a [href]="this.nextEtapeUrl" class="next-step">
            <span class="ds44-btnInnerText"> Suivant </span>
            <button class="ds44-btnStd number"><span> {{ getIndexNextStep() }}</span></button>
            <i class="icon icon-right" aria-hidden="true"></i>
          </a>
        </ng-template>
      </div>
    </div>

    <div class="audio-oeuvre">
      <app-lecteur-audio *ngIf="hasLoaded" [file]="getAudio()" [name]="getTitle()">
      </app-lecteur-audio>
    </div>

    <button type="button" class="ds44-fullWBtn ds44-btn--invert"
      onClick="document.getElementById('indications').scrollIntoView();">
      <!-- {behavior: 'smooth'} -->
      <span class="ds44-btnInnerText">Comment m’y rendre</span>
      <i class="icon icon-down" aria-hidden="true"></i>
    </button>


  </div>

</main>
