@import '/src/theme/importDep.scss';

.bg-color {
  background-color: $pink;
  .ds44-colRight {
    margin: 10px;
    .nextStep {
      span.ds44-btnInnerText, i, button {
        margin-right: 10px;
      }
      .number {
        border-color: $grey;
        background-color: $white;
      }
    }
  }
}
