<app-header-parcours [backUrl]="getHomeParcours()"></app-header-parcours>

<main>


  <!-- <div class="carrousel-btn"> -->
  <!-- <section *ngIf="!audio" class="ds44-alertMsg-container ">
      <div class="ds44-collapser">
          <div class="ds44-collapser_element">
              <p role="heading" aria-level="1">
                  <button type="button" class="ds44-collapser_button">
                      <p class="ds44-card__title">
                          Comment m'y rendre
                      </p>
                      <i class="icon icon-down icon" aria-hidden="true"></i>
                  </button>
              </p>
              <div class="ds44-collapser_content">
                <app-lecteur-audio *ngIf="hasLoaded && getAudioAide()" [test]="'aide'" [file]="getAudioAide()" [name]="'Se rendre au point'"></app-lecteur-audio>
                <p> test </p>
                <audio controls *ngIf="hasLoaded && getAudioAide()" class="audio-aide">
                  <source [src]="getAudioAide()" type="audio/mp3">
                </audio>
              </div>
          </div>
      </div>
  </section> -->
  <!-- </div> -->
  <div class="detail-oeuvre">
    <app-carrousel *ngIf="hasLoaded" [id]="getCarouselId()" [etape]="getTextEtape()" [text]="getTitle()">
    </app-carrousel>

    <div class="indications">
      <h3> Comment me rendre à l'étape " {{ getTitle() }} "</h3>

        <p> Réécouter l'indication audio</p>
        <app-lecteur-audio *ngIf="hasLoaded && getAudioAide()" [file]="getAudioAide()" [name]="" class="audio-help"></app-lecteur-audio>

      <app-overlay-map [isIcon]="false"></app-overlay-map>
    </div>
  </div>

  <div class="bg-color">
    <div class="ds44-flex-container ds44-flex-valign-center btn-step">

      <div class="ds44-colRight">
        <div *ngIf="finParcours;else next">
          <a [href]="this.nextEtapeUrl" class="back-parcours">
            <button class="ds44-btnStd number"><span> Retour Parcours </span></button>
          </a>
        </div>

        <ng-template #next>
          <a [href]="this.nextEtapeUrl" class="next-step">
            <span class="ds44-btnInnerText"> Suivant </span>
            <button class="ds44-btnStd number"><span> {{ getIndexNextStep() }}</span></button>
            <i class="icon icon-right" aria-hidden="true"></i>
          </a>
        </ng-template>
      </div>
    </div>

    <app-lecteur-audio *ngIf="hasLoaded" (audioStarted)="setAudio($event)" [file]="getAudio()"
      [name]="getTitle()"></app-lecteur-audio>
  </div>
</main>
