@import '/src/theme/importDep.scss';

.bg-color {
  background-color: $main-color;
  position: sticky;
  bottom: 0;
  z-index: 200;
  padding-top: 10px;
}

.desc-oeuvre {
  padding: 10px;
}

.plus {
  text-align: center;
  display: block;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.max-lines {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.default-lines {
  display: inline-block; /* or inline-block */
  word-wrap: break-word;
  line-height: 1.8em;
}

.ds44-lightBG {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}
