/* You can add global styles to this file, and also import other style files */
@import '/src/theme/importDep.scss';


main {
  padding-top: 0;
}

H1,
H2,
H3,
H4,
H5,
H6,
p,
a {
  font-family: Muli;
  color: black;
}


H1 {
  font-size: 34px;
  font-weight: bold;
  text-align: left;
}

H1.underline {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  text-decoration: underline 2px $main-color;
  text-underline-offset: 3px;
}

H2 {
  font-size: 21px;
  text-align: center;
  background: transparent;
  padding: 0;
}

H3 {
  font-size: 19px;
  text-align: left;
  background: transparent;
}

H3.title-overlay {
  font-family: Muli;
  font-size: 19px;
  text-align: left;
  background: transparent;
  font-weight: bold;
  display: block;
}

.text-overlay {
  text-align: left;
}

// bouton header component
.ds44-header .ds44-colRight .ds44-btnIcoText--maxi.ds44-btn--menu.btn-menu-component {
  margin-top: 0.5rem;
  margin-right: 0.5rem;

  .ds44-btnInnerText {
    margin-top: 0.5rem;
  }

}

button {
  &:hover, &:active, &:focus {
    box-shadow: none;
  }
}
