/* You can add global styles to this file, and also import other style files */
@import '/src/theme/importDep.scss';


main {
  padding-top: 0;
}


H1 {
  font-family: Muli;
  font-size: 28px;
  color: black;
  font-weight: bold;
  text-align: center;
}

H2 {
  font-family: Muli;
  font-size: 21px;
  text-align: center;
}
