<div *ngIf="steps" class="ds44-flex-container ds44-flex-valign-center btn-step">
  <div class="ds44-colLeft">
    <div *ngIf="!steps.debParcours">
      <a [routerLink]="steps.previousStepUrl" class="next-step">
        <i class="icon icon-left" aria-hidden="true"></i>
        <button class="ds44-btnStd number"><span> {{ steps.indexPreviousStep }}</span></button>
        <span class="ds44-btnInnerText" i18n="@@OeuvreSuivPredComp-previous"> Précédent </span>
      </a>
    </div>
  </div>

  <div class="ds44-colRight">
    <div *ngIf="steps.finParcours;else next">
      <a [routerLink]="steps.nextStepUrl" class="back-parcours">
        <button class="ds44-btnStd number" i18n="@@OeuvreSuivPredComp-end"><span>Terminer</span></button>
      </a>
    </div>

    <ng-template #next>
      <a [routerLink]="steps.nextStepUrl" class="next-step">
        <span class="ds44-btnInnerText" i18n="@@OeuvreSuivPredComp-next"> Suivant </span>
        <button class="ds44-btnStd number"><span> {{ steps.indexNextStep }}</span></button>
        <i class="icon icon-right" aria-hidden="true"></i>
      </a>
    </ng-template>
  </div>
</div>
